*{
    margin: 0px;
    padding: 0px;
}
body{
    text-align: center;
    background-color: rgba(9, 107, 254, 0.399);
}
.scoreboard {
    margin: 20px;
    font-size: 1.5rem;
    font-weight: bold;
}

.scoreboard span {
    color: darkblue;
}

.container{
    height: 70vh;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}
.game{
    height:60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1 rem rgba(0, 0, 0, 0.5);
    font-size:8vmin ;
    color: brown;
}
#resetb1{
    padding: 1rem;
    font-size: 1.25rem;
    background-color:#191913 ;
    color:white;
    border-radius: 1rem;
}
#resetscore{
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
    font-size: 1.25rem;
    background-color:#191913 ;
    color:white;
    border-radius: 1rem;
}
#newbtn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color:#191913 ;
    color:white;
    border-radius: 1rem;
}
.message-container{
    height:40vmin;
    display: flex ;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:4rem;
    background-color: rgb(149, 255, 0);
    margin-bottom: 20vmin;
 }
 .hide{
    display: none;
} 
.winner {
     background-color: gold !important;
    box-shadow: 0 0 20px orange;
    transform: scale(1.1);
}
.o-style{
    background-color: rgb(39, 209, 39);
    color: white;
    
}

.x-style{
    background-color: rgb(222, 105, 105);
    color: white;
}